includes:
    - vendor/tomasvotruba/cognitive-complexity/config/extension.neon

parameters:
    customRulesetUsed: true
    level: max
    paths:
        - src
        - tests/StaticAnalysis/PublicTraitConsumers.php
    cognitive_complexity:
        class: 80
        function: 12
        dependency_tree: 120
        dependency_tree_types: []
    reportUnmatchedIgnoredErrors: true
